:root {
	--dark: #111204;
	--dark-2: #222222;
	--lime: #b9fd50;
	--S2: #14142b;
}

@import "tailwindcss";

body {
	font-family: "Outfit", sans-serif;
	scroll-behavior: smooth;
}

#pricing-card-2,
#hero-title::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--lime);
	opacity: 0.2;
	border-radius: 100%;
	filter: blur(70px);
}
