<header aria-labelledby="capabilities-title" class="capabilities-header">
  <p class="section-label text-sm font-semibold text-lime-400 text-center">
  OUR CAPABILITIES
  </p>

  <h2 id="capabilities-title" class="text-3xl md:text-5xl font-bold text-center text-white">
    We can help you with…
  </h2>
</header>

