<form action="" class="flex flex-col gap-5">
	<textarea rows="10" placeholder="Ask us what you want to know..." class="border-2 rounded-[35px] p-3">
	</textarea>
	<div class="text-gray-500 flex justify-between">
		<p>We will answer your questions via email <br/> within 48 hours.</p>
		<button class="rounded-[35px] font-bold text-black bg-[var(--lime)] px-7 py-2">Send</button>
	</div>
</form>
